.wholepage {
    background-color: #0d6efd0a;
    height: 100vh;
}

.shapka {
	height: 12vh;
	
}

.seredka {
	height: 70vh;
	
}

.blockurl a {
    text-decoration: none;
    color: inherit;
}

.blockurl .cardurl:hover {
    color: rgba(0, 0, 0, 0.55);
    background-color: #0d6dfd0c;
    border: 5px;
    border-color: red;
}
.menumain {
    font-weight: 600;
    font-size: 1.0em;
}
.menumain a {
    color:  #521bba;
}